/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        plus_minus: plus_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N2 &kp KP_N4 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };
    };
};
/ {
    behaviors {
        mt_bspc: mod_tap_backspace {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";      // or "balanced" / "tap-preferred"
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;           // Tapping then holding within 200ms holds Backspace
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                /* ... other keys ... */
                &mt_bspc LSHIFT BSPC        /* Tap = BSPC | Hold = LSHIFT | Tap-Hold = Repeating BSPC */
                /* ... other keys ... */
            >;
        };
    };
};
/ {
    behaviors {
        mt_del: mod_tap_delete {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";      // or "balanced" depending on your preference
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;           // Tapping then holding within 200ms holds DELETE
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                /* ... other keys ... */
                &mt_del LSHIFT DEL         /* Tap = DEL | Hold = LSHIFT | Tap-Hold = Repeating DEL */
                /* ... other keys ... */
            >;
        };
    };
};

/ {
    chosen { zmk,matrix-transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp V    &kp F    &kp L   &kp M  &kp X    &kp J      &kp U    &kp O    &kp COMMA  &lt 6 P                    &kp H      &lt 1 S
&lt 2 R  &lt 3 N  &kp B   &kp Y  &lt 3 I  &lt 2 E    &lt 1 A  &kp C    &kp K      &kp G                      &kp W      &trans
&trans   &trans   &trans  &kp Q  &kp DOT  &kp Y      &trans   &lt 0 T  &lt 5 D    &mt RIGHT_SHIFT BACKSPACE  &kp SPACE  &trans
            >;
        };

        Ring {
            bindings = <
&kp LS(NUMBER_3)  &kp F       &kp RA(NON_US_BACKSLASH)  &kp SLASH      &kp NON_US_BSLH   &kp LS(NON_US_BSLH)    &kp LBKT          &kp SEMI               &kp SQT  &plus_minus  &kp RA(NUMBER_2)  &kp MINUS
&kp RA(NUMBER_3)  &kp LS(N8)  &kp RA(MINUS)             &trans         &kp LS(N9)        &kp RA(E)              &kp SINGLE_QUOTE  &trans                 &trans   &kp LS(N0)   &kp LEFT_GUI      &trans
&trans            &trans      &trans                    &kp RIGHT_GUI  &kp LS(NUMBER_1)  &trans                 &trans            &kp RA(RIGHT_BRACKET)  &trans   &kp DELETE   &kp ENTER         &trans
            >;
        };

        Middle {
            bindings = <
&trans  &trans      &trans      &kp RA(M)   &trans         &trans    &kp LS(QUESTION)  &trans  &kp LS(NUMBER_2)  &kp LS(N5)  &kp GRAVE      &kp LS(N7)
&trans  &kp RA(N8)  &kp RA(N7)  &kp RA(N0)  &kp RA(N9)     &trans    &kp RA(Q)         &trans  &trans            &trans      &kp LS(GRAVE)  &trans
&trans  &trans      &trans      &trans      &kp LS(MINUS)  &trans    &trans            &trans  &trans            &trans      &kp TAB        &trans
            >;
        };

        Index {
            bindings = <
&kp N3  &kp N6  &kp N7  &kp N8  &kp N9  &kp KP_NUMLOCK    &kp LS(NUMBER_6)  &trans  &trans   &trans     &kp N2     &kp N1
&kp N0  &kp N5  &kp N4  &trans  &trans  &trans            &trans            &trans  &kp DEL  &kp MINUS  &kp COMMA  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans            &trans  &trans   &trans     &trans     &trans
            >;
        };

        arrows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        shortcuts {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        f-keys {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        GamingBase {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Gaming1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
