/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        plus_minus: plus_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N2 &kp KP_N4 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };
    };
};

/ {
    chosen { zmk,matrix-transform = &five_column_transform; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp V    &kp F    &kp L   &kp M  &kp X    &kp J      &kp U    &kp O    &kp COMMA  &lt 6 P                    &kp H      &lt 1 S
&lt 2 R  &lt 3 N  &kp B   &kp Y  &lt 3 I  &lt 2 E    &lt 1 A  &kp C    &kp K      &kp G                      &kp W      &trans
&trans   &trans   &trans  &kp Q  &kp DOT  &kp Y      &trans   &lt 0 T  &lt 5 D    &mt RIGHT_SHIFT BACKSPACE  &kp SPACE  &trans
            >;
        };

        Ring {
            bindings = <
&kp LS(NUMBER_3)  &kp F       &kp RA(NON_US_BACKSLASH)  &kp SLASH      &kp NON_US_BSLH   &kp LS(NON_US_BSLH)    &kp LBKT          &kp SEMI               &kp SQT  &plus_minus  &kp RA(NUMBER_2)  &kp MINUS
&kp RA(NUMBER_3)  &kp LS(N8)  &kp RA(MINUS)             &trans         &kp LS(N9)        &kp RA(E)              &kp SINGLE_QUOTE  &trans                 &trans   &kp LS(N0)   &kp LEFT_GUI      &trans
&trans            &trans      &trans                    &kp RIGHT_GUI  &kp LS(NUMBER_1)  &trans                 &trans            &kp RA(RIGHT_BRACKET)  &trans   &kp DELETE   &kp ENTER         &trans
            >;
        };

        Middle {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Index {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        arrows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        shortcuts {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        f-keys {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        GamingBase {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Gaming1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
